@font-face {
    font-family: 'OpenSans-Regular';
		src: url(../fonts/OpenSans-Regular.ttf) format('truetype'), /* IE9 Compat Modes */
		 url(../fonts/OpenSans-Regular.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
        	url(../fonts/OpenSans-Regular.woff2) format('woff2'), /* Super Modern Browsers */
        	url(../fonts/OpenSans.woff) format('woff'), /* Pretty Modern Browsers */
        	url(../fonts/OpenSans.svg#svgFontName) format('svg'); /* Legacy iOS */
}

html,body {
	min-height: 100vh;
}

body {
	font-family: OpenSans-Regular;
}

body {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	position: relative;
	height: 120px;
	width: 100%;
}

hr {
    margin: 0;
    max-width: 100%;
}

header .menu {
	padding-top: 50px;
    height: 100%;
    width: 100%;
    float: right;
    display: block;
    text-align: right;
}

header .row, footer .row {
	max-width: 1280px;
	position: relative;
	height: 100%;
}

footer {
/*	margin-top: 150px;*/
	height: 120px;
	width: 100%;
	background: #000;
}

header .logo, footer .logo, footer .team{
	height: 75%;
    position: relative;
}

header .logo img, footer .logo img{
    width: auto;
    height: 75%;
    position: absolute;
    top: 20%;
    left: 2.5rem;
}

footer .team .team-block{
    width: auto;
    height: 75%;
    top: 20%;
    right: 0;
    padding-top: 20px;
}

footer .team {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

footer .team h5 {
	font-size: 0.9rem;
	color: #fff;
	margin-bottom: 0;
}

header .menu a{
	color: #9B9B9B;
	margin-right: 5px;
}

header .menu .menu-item:hover {
	color: #09A9FF;
	cursor: pointer;
}

.menu a:visited, .menu a:active {
	color: #9B9B9B;
}

.menu a {
	display: inline-block;
	padding: 0;
}

body.search-page_page .main{
	margin-bottom: 40px;
}

body.log-in_page {
	background: url(../img/login-back.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.add-service_page .main .content {
	margin-top: 50px;
}

body.log-in_page .main {
	flex-direction: column;
	align-items: center;
}

body.log-in_page .main .content {
	width: 100%;
}

body.log-in_page .main .title p {
	margin-bottom: 0;
}

body.log-in_page .main .title {
	font-weight: 500;
	font-size: 2rem;
	color: #fff;
	text-align: center;
	line-height: 0.5;
	margin-bottom: 50px;
}

.login-form {
	padding-top: 10px;
	max-width: 300px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.login-form input[type="text"]{
	font-size: 0.8rem;
	font-weight: 600;
	opacity: 0.7;
	border-radius: 10px;
	margin: 10px auto 0;
}

.login-form input::placeholder{
	color: #000;
}

.login-form input[type="submit"] {
	background-color: #09A9FF;
	border-radius: 45px;
	font-size: 0.8rem;
	color: #fff;
	border: none;
	display: block;
	opacity: 0.7;
	transition: opacity .3s ease-out;
	line-height: 1.8rem;
	width: 100%;
	max-width: 150px;
	margin: 10px auto 0;
}

.login-form input[type="submit"]:hover {
	cursor: pointer;
	opacity: 1;
	transition: opacity .3s ease-out;
}

.login-form input[type="submit"]:focus {
	outline: none;
}

.main {
	width: 100%;
	max-width: 1280px;
	position: relative;
}

.position-left {
	top: auto;
	left: auto;
}

.left-sidebar {
	max-width: 80%;
	margin: 0 auto;
}

.search-box {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
}

.search-field{
	border-radius: 45px;
	padding-left: 20px;
	height: 35px;
	padding-right: 30px;
	font-size: 1rem;
}

.filter-box {
	padding-left: 10px;
	margin-top: 40px;
	position: relative;
}

.filter-box h4{
	font-weight: 700;
	font-size: 1.2rem;
	margin-bottom: 0;
}

.filter-box p:first-of-type{
	margin-top: 15px;
}

.filter-box a {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.filter-box a:hover .name {
	color: #09A9FF;
	cursor: pointer;
}

.filter-box .name {
	color: #9B9B9B;
}

.filter-box .count {
	color: #C7C7C7;
}

.filter-box span {
	display: flex;
}

.search-icon {
	background-image: url(../img/Vector_search_icon.png);
	background-size: cover;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 8px;
    right: 8px;
}

.title_block {
	width: 100%;
	padding: 0 15px;
}

.services .header-service-item {
	width: 100%;
	position: absolute;
	top: -1px;
    padding: 0 0.9rem;
    color: #fff;
    z-index: 1;
}

.services .header-service-item div {
	text-align: center;
}

.services .service-cell {
	position: relative;
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
}

.services .service-cell img{
	box-shadow: 5px 10px 10px rgba(0,0,0,0.2);
}

.services .top-service {
	background: linear-gradient(to bottom, #ffa500 0%,#ffff00 100%); /* Old browsers */
	width: 100%;
	height: 6px;
}

.thumbnail {
	border: none;
	border-radius: unset;
	margin-bottom: 0;
	width: 200px;

}

.services .bottom-service-item {
	display: block;
	position: absolute;
	width: calc(100% - 1.875rem);
	max-width: 100%;
    padding: 0 0.9375rem;
    bottom: 20px;
}

.services .bottom-service-item a, .services .bottom-service-item a:visited {
	color: #fff;
}

.services .bottom-service-item a:hover {
	color: #258faf;
}

.services hr {
	width: calc(100% - 1.875rem);
    display: block;
    margin: 0 auto 20px;
}

.services .service-title, .services .service-more {
	text-align: center;
    color: #fff;
}

.services .point-cost, .services .service-type, .services .service-date {
	margin-top: 10px;
}

.services .service-title {
	font-weight: 700;
	line-height: 1;
}

.services .service-more {
	margin-top: 5px;
    font-size: 0.8rem;
}

.services .dark-cover {
	z-index: 0;
	max-height: 200px;
	position: absolute;
	width: calc(100% - 1.875rem);
	top: 0;
	bottom: 0;
	background: #000;
	opacity: .4;
}

.page_title {
	font-weight: 600;
}

body.add-service_page .main {
	justify-content: space-around;
}

form.add-service_form {
	max-width: 300px;
	margin: 0 auto;
	margin-bottom: 40px;
	overflow: hidden;
}

form.add-service_form textarea {
	height: 100px;
	border-radius: 10px;
}

form.add-service_form input[type="text"] {
	border-radius: 10px;
}

form.add-service_form input[type="submit"]{
	display: block;
    margin: 0 auto;
    float: right;
    width: 70%;
    line-height: 2;
    background: #258faf;
    border-radius: 40px;
    color: #fff;
    opacity: 0.7;
    transition: opacity .2s ease-out;
    outline: unset;
    border: none;
}

form.add-service_form input[type="submit"]:hover {
	cursor: pointer;
	opacity: 1;
	transition: opacity .2s ease-out;
}

form.add-service_form input[type="submit"]:after {
	content: "";
	display: table;
	clear: both;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:#000;
    font-size: 1rem;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(../img/check_radio_sheet.png) -57px top no-repeat;
}

.radio-box label{
	color: #000;
}

.radio-box.row {
	margin: 20px 0;
}

.radio-box .columns {
	padding-left: 0;
	padding-right: 0;
}

[type='radio'] + label {
	margin-left: 0;
	margin-right: 0;
}

select {
	color: #258faf;
}

.image-box label {
	margin-bottom: 20px;
	color: #258faf;
	font-size: 0.9rem;
}
